<table>
  <tbody>
    <tr *ngFor="let y of getArray(HEIGHT)">
      <td #cell *ngFor="let x of getArray(WIDTH)"
        [class.marked]="getCellState(x, y) === 1 && (antPos.x !== x || antPos.y !== y)"
        [class.ant]="antPos.x === x && antPos.y === y"
        (click)="mark($event, x, y)"></td>
    </tr>
  </tbody>
</table>

<button (click)="clear()">Clear</button>
<button (click)="next()">Next</button>
<button (click)="playPause()">{{otherState}}</button>
<br>
<span>Speed</span><input type="range" max="100" min="1" (change)="onChangeSpeed($event)">
<span>Steps</span><input type="number" min="1" [max]="100" [(ngModel)]="steps">
<span>{{steps}}</span>
