* {
  font-family: sans-serif;
}

td {
  border: 1px solid rgb(200, 200, 200);
    width: 10px;
    height: 10px;
    text-align: center;
}

.ant {
  background-color: brown;
}

.marked {
  background-color: green;
}

table {
  border-collapse: collapse;
}

span, input, button {
  padding: 4px;
}

button {
  font-size: 1.25rem;
  width: 80px;
  height: 40px;
  background: salmon;
}

.controls {
  margin-top: 8px;
}
